<!DOCTYPE html>
<html lang="en" ng-app="CarantineApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carantine Controls</title>

    <link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
    <script src="Scripts/angular.min.js"></script>
    <script src="app/app.js"></script>

</head> 
<body>
    <div ng-controller="CarantineController as $ctrl" class="container">
        <header class="main-header"></header>
        <div class="sensor-display">
            <span class="sensor"> {{$ctrl.sensors[0].value}} </span>
            <span class="sensor"> {{$ctrl.sensors[1].value}} </span>
            <span class="sensor"> {{$ctrl.sensors[2].value}} </span>
        </div>
        <div class="state-display">
            <p class="display-wrapper"> STATE: <span class="display"> {{$ctrl.state}} </span> </p>
            <p class="display-wrapper"> SPEED: <span class="display"> {{$ctrl.speed}} </span> </p>
        </div>

        <div class="control-buttons">
            <button class="direction-button" id="up" ng-click="$ctrl.up()">🡑</button>
            <button class="direction-button" id="down" ng-click="$ctrl.down()">🡓</button>
            <button class="direction-button" id="left" ng-click="$ctrl.left()">🡐</button>
            <button class="direction-button" id="right" ng-click="$ctrl.right()">🡒</button>
            <button class="direction-button" id="stop" ng-click="$ctrl.stop()">STOP</button>
        </div>
    </div>
</body>
</html>