.sensor-display {
    height: 4rem;
}

.sensor {
    font-size: 2rem;
    padding: 5px;
    border: 5px solid $blueDarkest;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: inline;
}