.state-display {
    border: 5px solid $blueDarkest;
    font-size: 2rem;
    padding: 5px;
    border-radius: 5px;
    width: 70vw;
    height: 10vh;
}

.display-wrapper {
    position: relative;
    width: 100%;
}

.display {
    position: absolute;
    right: 0px;
    text-align: center;
    width: 50%;
}