//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black: #000;
$grayDarker: #222;
$grayDark: #333;
$gray: #555;
$grayLight: #999;
$grayLighter: #f1faee;
$white: #fff;


// Accent colors
// -------------------------
$blue: #a8dadc;
$blueDark: #457b9d;
$blueDarkest: #1d3557;
$red: #e63946;

